/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
	font-family: graphik;
	src: url("../fonts/graphik/Graphik-Regular.otf");
}

@font-face {
	font-family: PublickBanner;
	src: url("../fonts/publico_banner/PublicoBanner-Medium.otf");
}

body {
	font-family: graphik;
}

h1 {
	font-family: PublickBanner;
}

h3 {
	font-weight: normal;
	font-size: 1.05em;
}

input {
	border: 1px solid black;
}

hr {
	margin-bottom: 25px;
}

main {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	max-width: 900px;
	margin: 0 auto;
	border: 1px solid black;
	padding: 30px 60px;
}

.mortgage-calculator {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 50% 50%;
	grid-template-columns: 50% 50%;
}

.calculator {
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
	padding: 0 35px 35px;
	z-index: 2;
}

.calculator div label {
	display: block;
	margin-bottom: 10px;
}

.calculator div input[type="text"] {
	height: 40px;
	width: 100%;
	border-radius: 5px;
	font-size: 16px;
}

.calculator button {
	width: 100%;
	padding: 10px;
	border-radius: 25px;
	background-color: blue;
	color: white;
	font-size: 20px;
	font-weight: 900;
	outline: none;
}

.inputRangeBlock {
	margin-bottom: 20px;
}

.inputRangeBlock input[type="text"] {
	text-align: center;
}

.inputRangeBlock input[type="range"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	outline: none;
	border-radius: 5px;
	height: 10px;
}

.inputRangeBlock input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: white;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}

.inputRangeBlock input[type="range"]::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: white;
	cursor: pointer;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}

.inputRangeField {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 25px 5px auto 5px 30px 5px 50px;
	grid-template-columns: 25px auto 30px 50px;
	-webkit-column-gap: 5px;
	-moz-column-gap: 5px;
	column-gap: 5px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.inputTextBlock {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 50% 50%;
	grid-template-columns: 50% 50%;
}

.inputTextBlock div {
	margin-bottom: 10px;
}

.inputTextBlock div input[type="text"] {
	border: 1px solid black;
	width: calc(100% - 35px);
	padding-left: 40px;
}

.inputTextBlock div span {
	position: absolute;
	margin: 14px 25px 0;
}

.inputTextBlock div small {
	display: block;
	margin-top: 5px;
	color: red;
	font-size: 0.6em;
}

.inputTextBlock > div:first-child {
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-column: 1 / span 2;
}

.inputTextBlock > div:first-child {
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-column: 1 / span 2;
}

.inputTextBlock > div:nth-child(2) {
	padding-right: 15px;
}

.inputTextBlock > div:nth-child(3) {
	padding-left: 15px;
}

.results {
	padding: 50px 0;
}

.heightAuto {
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
}

.results > div {
	background-color: #eeeeee;
	padding: 35px;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

.resultOutput p {
	margin: 0;
}

.resultOutput p:last-child {
	font-size: 1.1em;
	font-weight: bold;
	color: rgba(180, 179, 179, 0.75);
	margin-bottom: 25px;
}

.totalPayment p:first-child {
	font-size: 1.2em;
}

.totalPayment p:last-child {
	font-size: 1.3em;
}

@media (max-width: 640px) {
	main {
		padding: 0;
		border: none;
	}

	h3 {
		margin: 0;
		font-size: 0.8em;
	}

	.mortgage-calculator {
		display: block;
	}

	.calculator {
		padding: 15px;
	}

	.results {
		margin-top: 2px;
		background-color: #eeeeee;
		color: #5f5f5f;
		height: 0;
		padding: 0;
		overflow: hidden;
		-webkit-transition-property: height;
		-o-transition-property: height;
		transition-property: height;
		-webkit-transition-duration: 1s;
		-o-transition-duration: 1s;
		transition-duration: 1s;
		-webkit-transition-timing-function: linear;
		-o-transition-timing-function: linear;
		transition-timing-function: linear;
	}

	.results > div {
		width: 100%;
		padding: 0;
	}

	.resultOutput {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: auto 100px;
		grid-template-columns: auto 100px;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		border-bottom: 2px solid lightgray;
		padding: 18px 0;
	}

	.resultOutput:last-child {
		border-bottom: none;
	}

	.resultOutput p {
		font-size: 0.8em;
	}

	.resultOutput p:last-child {
		margin-bottom: 0;
	}

	.totalPayment p:first-child {
		font-size: 1em;
	}

	.totalPayment p:last-child {
		font-size: 1.1em;
	}

	.hideMobile {
		display: none;
	}

	.showResults {
		padding: 10px 20px;
		height: 325px;
	}
}
